# Terraform
**/.terraform/*
infrastructure/.terraform.lock.hcl
infrastructure/*.log
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# MacOS
.DS_Store

# vscode.
.vscode/*.log
